/* RESET CSS */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}	

/* RESET CSS */ 

/* COLOR PALLETE */

* {
    --FullBlack : #000;
    --FullWhite : #fff;
    --LightGray : #A4A4A4;
    --DarkGray : #4F4F4F;
    --Green : #008000;
    --Yellow : #ffea00;
    --Red : #FF3131;
    --Blue : #0000FF;
    --Wood : #A87A5B;
    --LightWood: #DBC9BC;
}

/* ############################# LOGIN ############################# */

#login-contents{
    max-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation-name: modalopen;
    animation-duration: 2s;
}

#logo-intro {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2.5% 5%;
}

#logo-intro img {
    width: 5em;
}

#log-in-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
}

#log-in-block #container {
    background-color: var(--FullWhite);
    box-shadow: 0 1px 2px 0 var(--LightGray), 0 1.5px 5px 0 var(--DarkGray);
    border-radius: 10px;
    height: 100%;
    width: 30%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#log-in-block #container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#log-in-block #container h1{
    padding: 8% 0;
    font-size: 1.25em;
}

.login-inputs {
    border: 1px solid var(--FullBlack);
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    margin-bottom: 5%;
}

#validate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#validate input {
    border: 1px solid var(--FullBlack);
    width: 86.5%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--Blue); 
    opacity: 0.5;
    color: var(--LightGray);
    margin-bottom: 5%;
    cursor: pointer;
}

#validate input:hover {
    transition: ease-in-out 0.2s;
    font-weight: 600;
    color: var(--FullWhite);
    opacity: 1;
}

#acess-code {
    width: 80%;
    margin-bottom: 10%;
    color: var(--LightGray);
    font-size: 0.8em;
    text-align: center;
}

#acess-code a {
    text-decoration: underline;
}


/* ############################# MODAL ############################# */

.button {
    background-color: transparent;
    color: var(--LightGray);
    text-decoration: underline;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.modal {
    display: none;
    place-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header #title h2 {
    font-size: 1em;
}

.modal-header #title p{
    font-size: 0.8em;
}

.modal-content {
    background-color: #f4f4f4;
    width: 70%;
    height: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    border-radius: 10px;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

.closeBtn:hover, 
.closeBtn:focus {
    color: var(--LightGray);
    text-decoration: none;
    cursor: pointer;
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: var(--FullBlack);
    padding: 15px 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}

.modal-footer {
    background-color: var(--FullBlack);
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.modal-body {
    padding: 10px 20px;
}

#creation_token {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 5%;
}

#creation_token input[type="submit"] {
    background-color: var(--Blue);
    color: var(--LightGray);
    opacity: 0.5;
    border: none;
    width: 60%;
    padding: 10px 5px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#creation_token input[type="submit"]:hover {
    opacity: 1;
    font-weight: 700;
    color: var(--FullWhite);
    transition: ease-in-out 0.2s;
}

#creation_token input[type="text"] {
    border: 1px solid var(--FullBlack);
    border-radius: 5px;
    width: 60%;
    padding: 10px;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

/* ############################# USER PAGE ############################# */

#userPage-Contents {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
}

#userPage-Contents #userPage-Main {
    height: 100%;
    width: 95%;
}

#Main-PicAndWelcome {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Main-PicAndWelcome i {
    font-size: 7em;
}

#Main-PicAndWelcome p {
    font-size: 3em;
}

#Main-PicAndWelcome p span {
    font-weight: 800;
}

#Main-Forms {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#Main-Forms form {
    width: 100%;
    height: 100%;
}

#Main-Forms #inputSides {
    display: flex;
    flex-direction: row;
    height: 50%;
}

#Main-Forms #formsLeftSide, 
#Main-Forms #formsRightSide {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 5%;
    gap: 10%;
}

input[type=text],
input[type=password], 
select {
    background-color: var(--FullWhite);
    border: 1px solid var(--LightWood);
    box-shadow: 4px 4px 4px rgba(219, 201, 188, 0.5);
    height: 3em;
    padding: 1em;
}

input:disabled {
    background-color: var(--LightGray);
    color: var(--FullWhite);
}

label {
    font-size: 1.5em;
    font-weight: 600;
}

#Main-Forms #acessCode {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    height: 40%;
    gap: 10%;
}

#userForms {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
}

#userForms button {
    border-radius: 20px; 
    height: 80%;
    width: 15%;
    font-size: 1em;
    font-weight: 600;
}

button[type=submit] {
    background: var(--FullBlack);
    color: var(--Wood);
}

.background {
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    position: fixed;
}

.background img {
    width: 100%;
    height: 100%;
}


/* ############################# DASHBOARD ############################# */

#dashboard-Contents {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
}

#dashboard-Main {
    height: 100%;
    width: 95%;
    display: flex;
}

#dashboard-Main #Main-leftSide,
#dashboard-Main #Main-rightSide {
    height: 100%;
    width: 50%;
}

select {
    width: 50%;
    height: 100%;
}

#dashboard-Env {
    height: 40%;
    width: 100%;
}

#dashboard-Env #area-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100%;
}

#dashboard-Env #area-select select {
    width: 50%;
    height: 20%;
}

option,
select {
    font-weight: 600;
}

#connectedTags {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

#connectedTags::-webkit-scrollbar,
#tagsHistory::-webkit-scrollbar {
    display: block;
    width: 0.5em;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: var(--FullBlack);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--Wood);
    border-radius: 10px;
    border: 1px solid var(--FullBlack);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--LightWood); 
}

#connectedTags .connectedTags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 5%;
    width: 80%;
    background-color: var(--Green);
    color: var(--FullWhite);
    font-weight: 600;
    border: 1px solid var(--FullBlack);
}

input[type=submit] {
    background: none;
    border: none;
    color: var(--FullWhite);
    font-weight: 600;
    cursor: pointer;
}

input[type=submit]:active,
input[type=submit]:hover {
    color: var(--LightWood);
}

#Main-rightSide #dashboard-History {
    height: 20%;
}

#tagsHistory {
    height: 75%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.History {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--FullBlack);
    color: var(--LightWood);
    padding: 3% 0;
    width: 90%;
    border: 1px solid var(--LightWood);
}

p {
    white-space: nowrap;
}

#historyAction {
    display: flex;
    gap: 10%;
}

#dashboard-History form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#dashboard-History form select {
    height: 40%;
}

.active_page {
    color: var(--Wood);
}

/* ############################# SIDEBAR ############################# */

.sidebar {
    height: 100%;
    width: 5%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 76.56%, rgba(0, 0, 0, 0.05) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar i {
    font-size: 1.5em;
}

.sidebar i:hover {
    color: var(--LightWood);
    cursor: pointer;
}

.sidebar #localizeOptions {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
}

.sidebar #userOptions {
    display:flex; 
    flex-direction: column;
    height: 25%;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}

.sidebar .fa-house {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}


/* ############################# BEACON MENU E TAG ############################# */

.Menu-Contents {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
}

.Menu-Main {
    width: 95%;
    height: 100%;
    display: flex;
    gap: 5%;
    padding: 0 5%;
}

.Menu-Contents p{
    white-space: normal;
    text-align: left;
    font-size: 3em;
}

.Menu-Contents h1 {
    text-align: left;
    font-size: 4em;
    word-wrap: nowrap;
}

.Menu-Main .menu-leftside, 
.Menu-Main .menu-rightside {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Menu-Main .menu-leftside button, 
.Menu-Main .menu-leftside button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Menu-Main button {
    color: var(--LightGray);
}

.Menu-Main button:hover {
    cursor: pointer;
    color: var(--Wood);
}

.Menu-Main button:active {
    color: var(--Red);
}

/* ############################# EDIT MODE ############################# */

#edit .menu-leftside,
#edit .menu-rightside {
    flex-direction: column;
    align-items: flex-start;
    gap: 5%;
}

#edit .menu-rightside {
    align-items: center;
    justify-content: center;
}

#edit .menu-rightside p {
    font-size: 1em;
    font-weight: 600;
}

#edit #dashboard-Env {
    height: 10%;
}

#edit #dashboard-Env label {
    text-align: left;
}

#edit #dashboard-Env #area-dropdown {
    height: 100%;
    width: 80%;
}

#edit #userForms {
    width: 80%;
}

#edit #userForms button {
    width: 100%;
}

.menu-rightside input[type=text] {
    width: 75%;
}

#next {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
}

#next-and-before {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.menu-rightside #codeDownload {
    display: flex;
    width: 50%;
    justify-content: space-between;
    background: var(--FullBlack);
    color: var(--LightWood);
    padding: 5%;
    border-radius: 20px;
}

#codeDownload i{
    cursor: pointer;
}


#next-and-before button[type=submit],
#next button[type=submit],
#before button[type=submit] {
    background: none;
}

.menu-leftside #next-and-before i,
.menu-leftside #next i,
.menu-leftside #before i  {
    font-size: 3em;
}

.menu-rightside #area-select {
    gap: 25% !important;
}

.menu-rightside label{
    font-size: 1em;
}

.menu-rightside #tagsHistory {
    width: 100%;
}

.menu-rightside #tagsHistory p {
    white-space: nowrap;
}

#before {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
}

#end #next-and-before button[type=submit],
#tagend #next-and-before button[type=submit]{
    background: var(--FullBlack);
    padding: 5%; 
    white-space: nowrap;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    font-weight: 600;
}

#diagResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; 
}

#userInfo {
    height: 15%;
}

#tagend #next-and-before{
    height: 45%;
}

#tagend #userInfo {
    width: 100%;
    margin-left: 90px;
}

#userInfo form {
    display: flex;
    flex-direction: column;
    height: 30%;
}

#userInfo form input {
    height: 50%;
}

.cancel {
    background-color: var(--Red);
}