<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5aec109a86.js" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
    <title>Login - Atech Find It</title>
</head>
<body>
    <div class="background">
        <img src="/images/background.png" alt="background">
    </div>
    <div id="beacon" class="Menu-Contents">
        <div class="sidebar">
            <i class="fa-solid fa-house"></i>
            <div id="localizeOptions">
                <i class="fa-solid fa-satellite"></i>
                <i class="fa-solid fa-satellite-dish active_page"></i>
            </div>
            <div id="userOptions">
                <i class="fa-solid fa-circle-user"></i>
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
        </div>
        <div id="edit" class="Menu-Main">
            <div class="menu-leftside">
                <h1>Informações Iniciais</h1>
                <p>Estas informações são necessárias para que o rastreamento seja realizado.</p>
                <div id="next">
                    <button type="submit" form="area-select">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="menu-rightside">
                <div id="dashboard-Env">
                    <form action="/beacon/update" id="area-select" method="post">
                        <label for="area-dropdown">Modelo de Microcontrolador</label>
                        <select name="BeaconModel" id="area-dropdown" form="area-select">
                            <option value="ESP32S3">ESP32S3</option>
                        </select>
                        <label for="name">Nome do Ambiente</label>
                        <input type="text" name="name" id="name" placeholder="Insira o nome do ambiente aqui..." 
                        <% if (area[0].Name != 0) { %>
                        value = "<%= area[0].Name %>"
                        <% } %>
                        >
                        <label for="largura">Largura do Ambiente (metros)</label>
                        <input type="text" name="largura" id="name" placeholder="Insira a largura do ambiente aqui..." 
                        <% if (area[0].Width != 0) { %>
                            value = "<%= area[0].Width %>"
                            <% } %>
                        >
                        <label for="comprimento">Comprimento do Ambiente (metros)</label>
                        <input type="text" name="comprimento" id="name" placeholder="Insira o comprimento do ambiente aqui..."
                        <% if (area[0].Length != 0) { %>
                            value = "<%= area[0].Length %>"
                            <% } %>
                        >
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>