<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5aec109a86.js" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
    <title>Login - Atech Find It</title>
</head>
<body>
    <div class="background">
        <img src="/images/background.png" alt="background">
    </div>
    <div id="beacon" class="Menu-Contents">
        <div class="sidebar">
            <form action="/dashboard" method="get">
                <i class="fa-solid fa-house"></i>
            </form>
            <div id="localizeOptions">
                <i class="fa-solid fa-satellite"></i>
                <i class="fa-solid fa-satellite-dish active_page"></i>
            </div>
            <div id="userOptions">
                <i class="fa-solid fa-circle-user"></i>
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
        </div>
        <div id="edit" class="Menu-Main">
            <div class="menu-leftside">
                <h1>Conexão com Beacons</h1>
                <p>Veja aqui os resultados das localizações das Tags. </p>
                <div id="before">
                    <button type="submit" form="area-select">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                </div>
            </div>
            <div class="menu-rightside" id="tagend">
                <div id="userInfo">
                    <form action="/" id="area-select">
                        <label for="name">Nome do Usuário</label>
                        <input disabled type="text"  name="name" id="name" value="<%= user[0].FirstName + " " + user[0].LastName %>">
                        <label for="name">Número de Identificação</label>
                        <input disabled type="text" name="name" id="name" value="<%= user[0].funcid %>">
                        <label for="name">Código do RFID</label>
                        <input disabled type="text" name="name" id="name" 
                        <% if (user[0].RFID != 0) { %>
                            value= "<%= user[0].RFID %>"
                       <% } else { %>
                            value="Aguardando RFID..."
                        <% } %>
                        >
                    </form>
                </div>
                <div id="next-and-before">
                    <form action="">
                        <button type="submit">Deletar Usuário</button>
                    </form>
                    <% if (user[0].RFID != 0) { %>
                        <form action="/tags/end">
                            <button type="submit">Finalizar Edição</button>
                        </form>
                   <% } else if (user[0].register == 0) { %>
                    <form action="/tags/RFID" method="POST">
                        <button type="submit">Requisição RFID</button>
                    </form>
                    <% } else { %>
                        <form action="/tags/step4" >
                            <button type="submit">Checar alterações</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>